.CardProductos{
    background-color: rgb(46, 26, 26);
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

.CardProductos img {
    width: 150px;
    object-fit: contain;
}
 
.CardProductos button {
    background-color: aqua;
    color: #fafafa;;
}