

header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px;
    color: #7e1818;
    position: absolute;
    top: 10px; 
    left:10px;
}


li {
    display: inline-block;
    margin: 10px;
    
}

